* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#site_header {
  height: 100px;
  background-image: url("/Assets/img/pattern.png");
  background-size: 25% 200%;

  background-color: #4EA0FF;
}

.header_logo {
  margin: 40px 0 25px 0;
  height: 50px;
}