* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Header --- */
#site_header {
  height: 100px;
  background-image: url("/Assets/img/pattern.png");
  background-size: 25% 200%;
  background-color: #4EA0FF;
}

.header_logo {
  margin: 40px 0 25px 348.5px;
  height: 50px;
}

/* --- Main ---*/
#site_main {
  width: 1200px;
  margin: auto;
}

/* Title */
.title {
  margin: 20px 0 20px 0;
}

h1 {
  font-size: 3rem;
}

.subheading {
  font-weight: bold;
  font-size: 1.5rem;
  color: #808080;
}

#author_name {
  font-size: 1.5rem;
  color: #20A9E5;
}

/* Images */
.images {
  margin-bottom: 20px;
}

img {
  height: 362px;
}

/* Paragraph */
.highlighted {
  background-color: yellow;
}

/* List */
#list {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Table */
table {
  width: 100%;
  margin-bottom: 20px;
}

thead {
  background-color: #20A9E5;
  color: white;
  font-weight: bold;
}

th {
  text-align: left;
}

td {
  padding: 20px 0 20px 0;
}

.colored_row {
  background-color: #B1E5F2;
}

/* --- Footer --- */

#site_footer {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #808080;
}

/* Title */
h2 {
  margin-bottom: 20px;
}

/* Images */
.footer_image_container {
  position: relative;
  margin-bottom: 20px;
}

.footer_image {
  width: 30%;
  height: auto;
}

.image_text {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}